@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
:root{
    --bg-color:#434346 ;
    --hover:#0918b3;
}
body{
    background-color:var(--bg-color);
}
header{
    width: 100vw;
    height: auto;
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 1000; 
    background-color: var(--bg-color); 
}
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.logo a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10rem;
    color: white;
}
.navbar ul{
    display: flex;
    gap: 2rem;
    margin-right: 7rem;

    li{
        list-style: none;
    } a{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        position: relative;
        
    }
}
.navbar ul li a::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: -2px; 
    height: 0.2rem; 
    background-color:var(--hover); 
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.navbar ul li a:hover::after {
    transform: scaleX(1); 
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 100vh; 
    background-color: var(--bg-color); 
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem; 
    color: white;
    span{
        color: rgb(193, 147, 20);
    }
}

.image {
    width: 50%;
    height: 100%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;  
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center; 
}
.hero-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: wheat;
}
.hero-link a {
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}
.hero-link a:hover {
    color: var(--hover);
}
.about{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.profile{
    margin-left: 1rem;
}
.profile-image img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
}
.profile-info{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 2rem;
    
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 1rem;
}
.about-me h1{
    font-size: 2rem;
    float: left;
}
.short-info p{
    line-height: 1.8rem; 
    margin-top: 1rem;
}
.about-info p{
    line-height: 1rem;
    margin-top: 1rem;   
}
.about-info strong {
    margin-right: 2rem; 
    font-weight: bold; 
}

.about-link{
    display: flex;
    flex-direction: column;
}
.about-link p{
    float: left;
    margin-top: 1rem;
}
.about-link a{
    text-decoration: none;
    color: rgb(174, 174, 61);
    font-size: 3rem;
    position: relative;
    
}
.about-link a:hover{
    color: yellow;
}
.resume{
    margin-top: 2.5rem;
    margin-left: 7rem;
    width: fit-content;
    color: white;
    line-height: 1.5rem;
    h1{
        text-align: center;
       
    }
   
}
#resume-para{
    margin-top: 2rem;
    text-align: center;
}
.experience{
    width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
    color: white;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
 h1{
    text-align: center;
    margin-top: 2rem;
    color: white;

}
hr{ 
     border: 2px solid yellow;
     width: 90%;
     margin-left: 5%;
     margin-top: 1rem;
}
.work-2021{
    /* border: 2px solid red; */
    padding: 1rem;
    background-color: rgb(85, 85, 85);
    border-radius: 4px;

}
.work-2018-2021{
    padding: 1rem;
    background-color: rgb(85, 85, 85);
    border-radius: 4px;

}

